.row
  .col-lg-6.col-lg-offset-3
    %p.lead.text-center 
      Edit this note

    = form_for [@event, @note] do |f|
      = f.cktext_area :content, ckeditor: { enterMode: 2 }

      .top10
        = f.submit "Update this note", class: "btn btn-primary btn-lg"
        = link_to "Cancel", edit_event_path(@event), class: "btn btn-default btn-lg"
