.row
  .col-lg-12
    = month_calendar events: @events do |date, events|
      .row
        .col-lg-12

          .row
            .col-lg-12
              .pull-right
                %p
                  = link_to date.day, new_event_path(start_date: date.to_s), class: "link"

              .clearfix

          - if events.any?
            - if events.many? && (event = events.shift)
              = render "events/multiple_events", first_event: event, events: events, date: date
            - else
              = render "events/calendar_event", event: events.first
