.row
  .col-lg-12
    = month_calendar events: @events do |date, events|
      .row
        .col-lg-12

          .row
            .col-lg-12
              .pull-right
                %p.lead
                  = link_to date.day, new_event_path(start_date: date.to_s), class: "link"

              .clearfix

          - if events.any?
            - events.each do |event|
              .event.truncate{ style: "background-color: ##{event.color}" }
                = link_to event.name, "#", class: "link"
