.row
  .col-lg-12
    = month_calendar events: @events do |date, events|
      .row
        .col-lg-12
          .pull-right
            %p.lead #{date.day}

          .clearfix

      - if events.any?
        - events.each do |event|
          .row
            .col-lg-12
              %p.lead.truncate #{event.name}
            

