// "bootstrap-sprockets" must be imported before "bootstrap" and
@import "bootstrap-sprockets";
@import "bootstrap/variables";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "font-awesome";
@import "jquery.minicolors";

.top10 { margin-top: 10px; }

.simple-calendar {
  .prev-month, .next-month {
    color: #aaa;
  }

  .day {
    max-width: 50px;
    .truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 100%;
    }
  }

  .wday-6, .wday-0 {
    background-color: $gray-lighter;
  }

  .today {
  }

  .has-events {
    .event {
      color: $gray-lighter;
      padding: $padding-small-vertical;
    }
  }

  .link {
    color: inherit;
    text-decoration: none;
  }
}
