// "bootstrap-sprockets" must be imported before "bootstrap" and
@import "bootstrap-sprockets";
@import "bootstrap/variables";
@import "bootstrap";

.simple-calendar {
  .prev-month, .next-month {
    color: #aaa;
  }

  .wday-6, .wday-0 {
    background-color: $gray-lighter;
  }

  .today {
    .calendar-day {
      font-weight: bold !important;
    }
  }
}
